@font-face{
    src:url(../fonts/Comfortaa/Comfortaa-Bold.ttf);
    font-family: 'Comfortaa-Bold';
}
@font-face{
    src:url(../fonts/Comfortaa/Comfortaa-Regular.ttf);
    font-family: 'Comfortaa-Regular';
}
@font-face{
    src:url(../fonts/Montserrat/Montserrat-Bold.ttf);
    font-family: 'Montserrat-Bold';
}
@font-face{
    src:url(../fonts/Montserrat/Montserrat-Regular.ttf);
    font-family: 'Montserrat-Regular';
}
@font-face{
    src:url(../fonts/Roboto/Roboto-Regular.ttf);
    font-family: 'Roboto-Regular';
}
@font-face{
    src:url(../fonts/Roboto/Roboto-Medium.ttf);
    font-family: 'Roboto-Medium';
}

